aiohttp
argparse
asyncio
bcrypt
browser-cookie3
browser_cookie3
bs4
Builder
colorama
cryptography
customtkinter
datetime
discord
docx
httpx
importlib
keyboard
Logger
moviepy
opencv-python
packaging
pathlib
pdf2docx
phonenumbers
pillow
psutil
pyaes
pyaesm
pyaudio
pyautogui
pycaw
pycountry
pycryptodome
pycryptodomex
pydub
pyinstaller
pymediainfo
pyperclip
pypiwin32
PyQt5
pyttsx3
requests
requests-toolbelt
screeninfo
selenium
tqdm
uuid
wmi
yt_dlp
